body {
	color: white;
	background-color: hsla(9, 100%, 64%, 0.5);
	font-family: "Arial","Apple Garamond","Ubuntu";
	font-size: 14px;
}

p {
	text-align: justify;
}

a, a:hover, a:visited {
	color: currentColor;	
}