div > p{
	font-style: italic;
}

div >h1{
	font-style: italic;
		
}
#me{
	font-size: 20px;
}

div.people{
	border-bottom: 1px solid currentcolor;
	padding: 5px;
	margin: 5px;

}

#linkin-park{
	background-color: black;
	color : white;
}
#gordon-ramsay{
	background-color: rgb(149, 193, 187);
	color : white;
}
#bill-gates{
	background-color: violet;
	color : white;
}
#michael-jordan{
	background-color: rgb(244, 131, 66);
	color: white;
}

