div > p{
	font-style: italic;
}

div >h1{
	font-style: italic;
		
}
#me{
	font-size: 20px;
}

div.people{
	border-bottom: 1px solid currentcolor;
	overflow: auto;
	padding: 10px;
	margin: 10px;
}

div.name{
	width: 28%;
	padding-right: 5px;
	float: left;
}

div.biography{
	width: 70%;
	padding-left: 5px;
	float: left;
}

#linkin-park{
	background-color: black;
	color : white;
}
#gordon-ramsay{
	background-color: rgb(149, 193, 187);
	color : white;
}
#bill-gates{
	background-color: violet;
	color : white;
}
#michael-jordan{
	background-color: rgb(244, 131, 66);
	color: white;
}

